<%- include header %>
<ul id="gallery">
	<% for(var i=0; i < docs.length; i++) { %>
		
	<li class="item" style="list-style: none;">
	    
	    <h2><a href="/<%= docs[i]._id %>"><%= docs[i].question %></a></h2>
	</li>
    <% } %>
</ul>
<%- include footer %>
