<!DOCTYPE html>
<html>
  <head>
      <title>#Ciência Dá Trabalho: <%= title %></title>
      <link rel="stylesheet" href="/stylesheets/normalize.css" />
      <link rel="stylesheet" href="/stylesheets/skeleton.css" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
	<h1>#CienciaDáTrabalho</h1>
	<nav>
            <ul>
		<li><a href="/manifesto">Manifesto</a></li>
		<li><a href="/gallery">Mais Perguntas</a></li>
		<li><a href="/new">Nova Pergunta</a></li>
            </ul>
	</nav>
    </header>
    <main>
