<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee|Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120927265-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120927265-2');
    </script>

</head>

<body>
    <div class="container">
        <header>
            <div class="title" style="font-family: 'Lora', serif; text-align:center; font-size:6vw; border-bottom:2px solid black; padding-bottom:40px;">
                <div>#ciênciadátrabalho</div>
                <div style="line-height:1px;">
                    <img class="titleImg" id="fbLogo" src="/images/facebook-logo.png">
                    <img id="instaLogo" class="titleImg" src="/images/instagram-logo.png">
                    <img class="titleImg" id="twitterLogo" src="/images/twitter-logo-on-black-background.png">
                </div>
            </div>

            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                    MENU
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav" class="row">
                        <a id="homeLink" class="nav-item nav-link col-sm-2" href="/">Home</a>
                        <a id="manifestoLink" class="nav-item nav-link col-sm-2" href="/manifesto">Manifesto</a>
                        <a id="howToLink" class="nav-item nav-link col-sm-2" href="/howto">Como Participo?</a>
                        <a id="galleryLink" class="nav-item nav-link col-sm-2" href="/gallery">Galeria</a>
                        <a id="newLink" class="nav-item nav-link col-sm-2" href="/new">Nova Pergunta</a>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
