<%- include header %>

    <h1 style="margin-top:40px;">Como participo?</h1>
    <p style="margin-bottom:40px; font-size:18px; font-weight:bold; text-align:center;">Tens um conceito científico que pretendes comunicar? Eis como te podes juntar ao #cienciadatrabalho </p>
    <h2 id="manifestoList">
    <ol type="1">
        <li>
            Desce da torre de marfim.
        </li>
        <li>
            Transforma uma questão em provocação.
        </li>
        <li>Usa esta plataforma para criar cartazes.</li>
        <li>
            Cria uma estória intrigante
            <a href="http://twinery.org/">aqui</a>.
        </li>
        <li>
            Partilha detalhes do projecto.
        </li>
        <li>
            <b> Investiga e escolhe os sítios certos para vandalizar.</b>
        </li>
        <li>
            Mistura uma parte de cola branca com uma parte de água.
        </li>
        <li>Vai para a rua e faz o teu trabalho.</li>
        <li>Utiliza a hashtag #cienciadatrabalho e torna-te parte da comunidade.</li>
        <li>
            Tens dúvidas? Nós ajudamos. Envia-nos um <a href="mailto:tenhoperguntas@cienciadatrabalho.info">mail.</a>
        </li>
    </ol>

<%- include footer %>