<%- include header %>

    <h1 style="margin-top:40px;">Como participo?</h1>
    <p style="margin-bottom:40px; font-size:18px; font-weight:bold; text-align:center;">Tens um conceito científico que pretendes comunicar? Eis como te podes juntar ao #cienciadatrabalho </p>
    <h2 id="manifestoList">
    <ol type="1">
        <li>
            Desenvolve uma ou mais perguntas a partir desse conceito.
        </li>
        <li>
            Utiliza a nossa plataforma para criar os cartazes relacionados com a tua pergunta.
        </li>
        <li>
            Pensa numa estória. e utiliza a plataforma
            <a href="http://twinery.org/">Twinery</a>, para ajudar a cativar.
        </li>
        <li>
            Desenvolve os detalhes do teu projecto, para permitir a quem se interessa, saber mais.
        </li>
        <li>
            <b> Vai para a rua e cola os teus cartazes em locais relevantes! </b>
        </li>
        <li>
            Utiliza as redes sociais para disseminar.
        </li>
    </ol>

<%- include footer %>