<%- include header %>
    <container>
        <h1 style="margin-top:40px; margin-bottom:40px;">Manifesto</h1>
        <h2>
            <ol type="1" id="manifestoList">
                <li>
                    A nossa missão é preservar a nossa missão.
                </li>
                <li>
                    Somos pacientes. Ciência dá trabalho e leva tempo. 
                </li>
                <li>Somos movidos por perguntas, rigor, repetições e replicação.</li>
                <li>
                    <b>#cienciadatrabalho</b> surge no contexto do Emergence Hackathon 2018 como uma solução criativa para aproximar cientistas e não iniciados.
                </li>
                <li>Defendemos a autonomia, auto organização, abertura, liberdade e colaboração.</li>
                <li>
                    Utilizaremos todos os meios necessários para sobreviver, propagar e cumprir a nossa missão.
                </li>
            </ol>
        </h2>
    </container>
    <%- include footer %>