<%- include header %>
    <container>
        <h1 style="margin-top:40px; margin-bottom:40px;">Manifesto</h1>
        <h2>
            <ol type="1" id="manifestoList">
                <li>
                    CIÊNCIA DÁ TRABALHO, CIÊNCIA LEVA TEMPO.
                </li>
                <li>
                    A pergunta é a principal motivação do cientista.
                </li>
                <li>
                    <b>#cienciadatrabalho</b> é um movimento que surge no contexto do Emergence Hackathon 2018, e pretende despertar
                    a consciência do público para a complexidade e morosidade do trabalho científico através do casamento
                    entre a arte de rua e o mundo digital.
                </li>
                <li>
                    Através do conceito e do método de comunicação que propomos, pretende-se que qualquer cientista ou grupo de cientistas do
                    mundo possa utilizar esta plataforma para comunicar as suas próprias perguntas, e trazer o público para
                    o mundo científico do seu projecto de investigação.
                </li>
            </ol>
        </h2>
    </container>
    <%- include footer %>