<%- include header %>
    <container>
            <h1 style="margin-top:40px; margin-bottom:40px;">Manifesto</h1>
            <h2 style="font-size:24px;">
                <ol type="1" id="manifestoList">
                    <li>
                        CIÊNCIA DÁ TRABALHO, CIÊNCIA LEVA TEMPO.
                    </li>
                    <li>
                        A pergunta é a principal motivação do cientista.
                    </li>
                    <li>
                        <b>#cienciadatrabalho</b> é um movimento que surge no contexto do Emergence Hackaton, onde através do casamento entre a arte de
                        rua e uma plataforma digital, se pretende despertar a consciência do público para a complexidade e morosidade
                        do trabalho científico.
                    </li>
                    <li>
                        Através do conceito e do método de comunicação que propomos, pretende-se que qualquer cientista ou grupo de cientistas do
                        mundo, possa utilizar esta plataforma para desenvolver a sua própria pergunta, e fazer com que o público chegue
                        até ao projecto de investigação que este pretende divulgar.
                    </li>
                </ol>
            </h2>
    </container>
    <%- include footer %>