<%- include header %>

    <div class="container">

    </div>

    <div id="chartContainer" style="margin-left:-250px; height:31vh">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="/javascripts/dimple.v2.3.0.min.js"></script>
        <script type="text/javascript">
            d3.json('http://localhost:3000/vandalyticsdata', function (data) {
                var svg = dimple.newSvg("#chartContainer", document.getElementById("chartContainer").offsetWidth, document.getElementById("chartContainer").offsetHeight);
                var myChart = new dimple.chart(svg, data);
                var x = myChart.addMeasureAxis("x", "count");
                var y = myChart.addCategoryAxis("y", "page");
                y.overrideMin = 0;
                y.overrideMax = 10;
                x.overrideMin = 0;
                x.overrideMax = <%= maxCount * 3 %>;
                myChart.addSeries(null, dimple.plot.bar);
                myChart.defaultColors = [
                    new dimple.color("#e67e22", "#d35400", 1)
                ];
                myChart.setMargins(300, 0, 5, 20);
                myChart.draw();
            });
        </script>
    </div>

    <%- include footer %>