body {
  padding: 50px;
  font-family: 'Lora', serif;
  background-color:#24ff00 !important;
}

a {
  color: black !important;
}

a:hover
{
  color:#0211ef !important;
}

p
{
  font-family: 'Lora', serif;
  font-size:18px;
  font-weight:bold;
  
}

#title
{
  font-family: 'Bungee', cursive;
  font-size:48px;
  color:#0211ef !important;
  font-weight:bold !important;
}

.titleImg
{
  margin-left:20px !important;
  cursor:pointer;
}

h1 {
  font-family: 'Bungee', cursive !important;
  font-size:64px !important;
  text-align:center;
}

h2 {
  font-family: 'Bungee', cursive !important;
  font-size:48px ;
  text-align:center;
  line-height: 40px !important;
  color:#0211ef !important;
}

iframe
{
  width:100%;
  height:100%;
}

footer
{
  text-align:justify;
  font-family: 'Lora', serif;
  font-size:28px;
  border-top:2px solid black;
  padding-top:40px;
  margin-top:120px;
}

.nav-link
{
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin:auto;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0;
    text-align:center;
    background: lightgray;
    font-family:'Bungee', cursive;
    background: -moz-linear-gradient(top,  #F0F0F0 50%, #D4D4D4 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#D4D4D4));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#D4D4D4',GradientType=0 );
    box-shadow: 5px 10px 18px black;
    margin-bottom:20px;
}

.nav-link:hover
{
  background: -moz-linear-gradient(top,  #F0F0F0 50%, #bebebe 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#bebebe));
}

.nav-link a:hover
{
  color:#0211ef;
  text-decoration:underline;
}

.navbar-nav
{
  width:100%;
  padding-top:40px;
  padding-bottom:40px;
}

#question
{
  font-family: 'Bungee', cursive;
  font-size:64px !important;
  text-align:center;
}

#answer
{
  font-family: 'Bungee', cursive;
  font-size:36px !important;
  text-align:center;
  color:#0211ef;
}

#manifestoList li
{
  margin-bottom:20px;
}

.form-control {
  font-family:'Lora', serif;
  font-size:24px !important;
  font-weight:bold;
  color:black;
  background-color:inherit !important;
  border:none !important;
}

button
{
  display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin:auto;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0;
    text-align:center;
    background: lightgray;
    font-family:'Bungee', cursive !important;
    background: -moz-linear-gradient(top,  #F0F0F0 50%, #D4D4D4 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#D4D4D4));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#D4D4D4',GradientType=0 );
    box-shadow: 5px 10px 18px black;
    color:black;
    padding:12px;
    cursor:pointer;
}

button:hover
{
  background: -moz-linear-gradient(top,  #F0F0F0 50%, #bebebe 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#bebebe));
}

#newPoster
{
  /*background-color:white;
  margin:auto;
  width: 210mm;
  height: 297mm;*/
  width:100%;
  height:90vh;
}

#galleryPoster
{
  /*width:210px;*/
  /*height:297px;*/
}

.posterContent
{
  height:40vh;
  width:85%;
}

#posterHashTag
{
  position:absolute;
  bottom:-20vh;
  left:0;
  right:0;
  text-align:center;
  font-family:'Lora', serif;
  font-size:48px;
}


.navbar-toggler
{
  position: fixed;
  top: 40px;
  right: 40px;
  width: 100px;
  height: 40px;
}

#detail h3
{
  font-family: 'Bungee', cursive;
  font-size:24px !important;
}

#detail a
{
  font-family: 'Lora', serif;
  font-size:18px;
  font-weight:bold;
  color:#0211ef !important;
  text-decoration:underline !important;
}

#detail a:hover
{
  color:black !important;
  text-decoration:none !important;
}